<a href="https://colab.research.google.com/github/onyeogulu/GuessWho_modelvalidation/blob/dev/HamoyeIntership.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

Question 2

In [32]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [4]:
# read in the fuel data set from my drive into Google colab
fuel_ds = pd.read_csv('/content/drive/My Drive/Colab Notebooks/fuel_ferc1.csv')
fuel_ds.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

In [5]:
# Check for null values in the data set
fuel_ds.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

Question 3

In [14]:
# Group by fuel type code to find mean
fuel_ds_grp = fuel_ds.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean()

In [15]:
fuel_ds_grp

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

Question 4

In [16]:
# Use the describe method to find the standard deviation and 75th percentile
fuel_ds.describe()

       utility_id_ferc1  ...  fuel_cost_per_mmbtu
count      29523.000000  ...         29523.000000
mean         118.601836  ...            19.304354
std           74.178353  ...          2091.540939
min            1.000000  ...           -41.501000
25%           55.000000  ...             1.940000
50%          122.000000  ...             4.127000
75%          176.000000  ...             7.745000
max          514.000000  ...        359278.000000

[8 rows x 7 columns]

Question 5

In [17]:
# skewness along the index axis 
fuel_ds.skew(axis = 0, skipna = True)

utility_id_ferc1                  0.605070
report_year                       0.006953
fuel_qty_burned                  15.851495
fuel_mmbtu_per_unit               4.135217
fuel_cost_per_unit_burned        19.787440
fuel_cost_per_unit_delivered    105.014227
fuel_cost_per_mmbtu             171.675535
dtype: float64

In [18]:
# kurtosis along the index axis 
fuel_ds.kurtosis(axis = 0, skipna = True)

utility_id_ferc1                    1.088432
report_year                        -1.145656
fuel_qty_burned                   651.369450
fuel_mmbtu_per_unit                55.595695
fuel_cost_per_unit_burned         485.255851
fuel_cost_per_unit_delivered    11765.054226
fuel_cost_per_mmbtu             29489.132594
dtype: float64

Question 6

In [21]:
# Find missing value and percentage of missing value
missing_value = fuel_ds['fuel_unit'].isnull().sum()
percentage = (missing_value / fuel_ds.shape[0])*100
percentage = round(percentage, 2)

In [26]:
# Formatting to print 
print("Feature:{}, Total:{}, Percent:{}".format('fuel_unit',missing_value,percentage))

Feature:fuel_unit, Total:180, Percent:0.61

Question 7

In [28]:
# Imputing mising value with mode
fuel_ds['fuel_unit'].fillna(fuel_ds['fuel_unit'].mode(), inplace = True)

Question 8

In [29]:
# Finding the correlation between the variables
fuel_ds.corr(method = 'pearson')

                              utility_id_ferc1  ...  fuel_cost_per_mmbtu
utility_id_ferc1                      1.000000  ...             0.006122
report_year                           0.093323  ...             0.010261
fuel_qty_burned                      -0.057447  ...            -0.001896
fuel_mmbtu_per_unit                  -0.066946  ...            -0.005884
fuel_cost_per_unit_burned            -0.037863  ...            -0.000437
fuel_cost_per_unit_delivered         -0.016414  ...            -0.000109
fuel_cost_per_mmbtu                   0.006122  ...             1.000000

[7 rows x 7 columns]

Question 10

In [31]:
#Group by year to answer question 10
fuel_ds.groupby('report_year')['fuel_cost_per_unit_delivered'].mean()

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64